body {
    background: #34495e;
    color: #fff;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Casa :hover {
   transition: height 1s, width .5s;
   height: 360px;
   width: 402px;
   cursor: grab;
}


